<div class="home-view-wrapper bg-zinc-400">
  <div class="home-window">
      <div class="flex flex-col w-full h-[20vh] border-b-1 border-solid border-[#41AFB2]">
        <img class="w-[80vh] h-[16vh]" [src]="textoBgAzul" alt="">
      </div>
      <div class="text-[#41AFB2] w-[100%] whitespace-normal wrap-break-word p-3">
        <h3 class="font-bold text-[18px]">O que é o HarmonIA?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, saepe obcaecati dolorem iusto velit architecto porro veritatis recusandae at inventore qui non doloribus itaque, quas ab accusamus exercitationem atque? Delectus vitae magni natus laborum accusamus.</p>
      </div>
  </div>
</div>

