.navbar{
    display: flex;
    border-bottom: 2px grey solid;
    height: 70px;
    align-items: center;
    justify-content: space-around;
}

.logo{
    font-size: 200%;
    padding-left: 10px;
    font-weight: bolder;
    font-family: monospace;
    color: rgb(63, 63, 174);
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 35%;
    margin: 6px;
    background-color: oklch(45.7% 0.24 277.023);
    color: white;
    border-radius: 14px;
    padding: 8px;
}

.buttons:hover{
    background-color: oklch(58.5% 0.233 277.117);
    transition: color 0.3s ease;
    text-decoration-color: none;
}