.navbar{
    display: flex;
    flex-direction: row;
    gap: 50%;
    flex: 1;
    min-width: screen;
    border-bottom: 2px grey solid;
    height: 70px;
    align-items: center;
}

.logo{
    font-size: 200%;
    padding-left: 10px;
    font-weight: bolder;
    font-family: monospace;
    color: rgb(63, 63, 174);
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 35%;
}